/*
 - Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela. Se a numeração do item for PAR, faça a cor de fonte ser verde. Se o número for considerado primo, utilize a propriedade text-transform para deixar o texto maiúsculo. (Dica: combinar classes pode ser útil aqui).
 - Faça todas as tags Header (h1, h2...) possuírem cor de fonte vermelha e, se alguma delas estiver em itálico, aumente seu tamanho para 40px e acrescente uma borda de 1px preta e sólida.
 - Faça todas as li's terem 20px de tamanho de fonte e, para todo texto em itálico dentro de alguma li, utilize a propriedade font-weight para deixá-lo negrito.
 - Na listagem de linguagens de programação, faça com que as 3 primeiras da lista possuam cor de fonte azul e, se alguma possuir "java*" no texto, utilize uma cor de fundo rosa.
 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).

*/
ol {
    background-color: yellow;
}

li.par {
    background-color: green;
}

li.primo {
    text-transform: uppercase;
}

.header {
    color: red;
}

.header em {
    font-size: 40px;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.primeiros {
    color: blue;
}

.java {
    background-color: pink;
}

ul li a:hover {
    font-weight: bold;
}

.so:hover {
    color: orange;
}

.w3:hover {
    color: green;
}

.mdn:hover {
    color: black;
}

.dd:hover {
    color: yellow;
}

.try:hover {
    color: green;
}